
@{
    ViewBag.Title = "Mailbox";
    Layout = "~/Views/_shared/_Layout.cshtml";
}

<h2>Mailbox</h2>
<div class="ht-100v d-flex align-items-center justify-content-center">
    <div class="wd-lg-70p wd-xl-50p tx-center pd-x-40">
        <h1 class="tx-100 tx-xs-140 tx-normal tx-gray-800 mg-b-0">404!</h1>
        <h5 class="tx-xs-24 tx-normal tx-gray-600 mg-b-30 lh-5">The page your are looking for has not been found.</h5>
        <p class="tx-16 mg-b-30">
            The page you are looking for might have been removed, had its name changed,
            or unavailable. Maybe you could try a search:
        </p>
        @using (Html.BeginForm("Home", "Error404", new { returnUrl = Request.QueryString["returnUrl"] }))
        {
        <div class="d-flex justify-content-center">
            <div class="d-flex wd-xs-300">
                <input type="text" class="form-control ht-40" placeholder="Search...">
                <button class="btn btn-default bd-0 mg-l-5 ht-40 pd-x-20">Search</button>
            </div>
        </div><!-- d-flex -->
        }
    </div>
</div><!-- ht-100v -->
